.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-box {
    background: white;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-box h1 {
    margin-bottom: 2rem;
    margin-top: 0rem;
  }
  
  .login-box input {
    display: block;
    width: 85%;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-box button:disabled {
    background-color: #ccc;
  }
  
  .register-button {
    margin-top: 1rem;
    background-color: #28a745;
  }
  